/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.right-panel {
  position: fixed;
  border: solid red 1px;
  min-width: 200px;
  max-width: 20%;
  top: 56px;
  height: calc(100% - 56px);
  right: 0px;
}

.left-panel {
  position: fixed;
  border: solid red 1px;
  min-width: 200px;
  max-width: 20%;
  top: 56px;
  height: calc(100% - 56px);
  left: 0px;
}

.row-room {
  width: 100%;
  height: 100%;
}

.container-padding {
  position: relative;;
  top: 56px !important;
}