<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TicTacToe Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"-->
                <!--aria-haspopup="true" aria-expanded="false">Account</a>-->
                <!--<div class="dropdown-menu">-->
                <!--<a class="dropdown-item" href="#!/viewLogin">Login</a>-->
                <!--<a class="dropdown-item" href="#!/viewRegister">Register</a>-->
                <!--<a class="dropdown-item" href="#!/viewLogout">Logout</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->

                <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"-->
                <!--aria-haspopup="true" aria-expanded="false">Rooms</a>-->
                <!--<div class="dropdown-menu">-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#">Show All</a>&ndash;&gt;-->
                <!--<a class="dropdown-item" href="#!/viewAddRoom">AddRoom</a>-->
                <!--<a class="dropdown-item" href="#!/viewSearchinRoom">SearchRoom</a>-->
                <!--</div>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="dropdown-item" href="#!/viewAddRoom">Add Room</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#!/viewSearchinRoom">Searchin Room</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#!/viewLogin">Login</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="#!/viewRegister">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  ng-click="logout()" href="#!/viewLogin">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--<ul class="menu">-->
    <!--<li><a href="#!/viewAddRoom">Add Room</a></li>-->
    <!--<li><a href="#!/viewSearchinRoom">Searchin Room</a></li>-->
    <!--<li><a href="#!/viewRegister">Register</a></li>-->
    <!--<li><a href="#!/viewLogin">Login</a></li>-->
<!--</ul>-->

<main role="main" class="container">
    <div class="container-padding">
        <div ng-view></div>
    </div>
    <div class="right-panel">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Room Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in rooms">
                <td>
                    <a href="#!/viewConnectedUsers?roomId={{el.id}}">
                        <div class="row-room">
                            {{el.name}}
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


<footer class="footer">
    <div class="container">
        <span class="text-muted">Tic Tac Toe.</span>
    </div>
</footer>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>

<!--services-->
<script src="services/roomService.js"></script>
<script src="services/AuthService.js"></script>

<!--diff views-->
<script src="viewAddRoom/viewAddRoom.js"></script>
<script src="viewLogin/viewLogin.js"></script>
<script src="viewRegister/viewRegister.js"></script>
<script src="viewSearchinRoom/viewSearchinRoom.js"></script>
<script src="viewConnectedUsers/viewConnectedUsers.js"></script>

<!--components-->
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<!--bloody jquery *_*-->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<!--frameworks/libraries-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>



</body>
</html>
