<div ng-controller="ViewSearchinRoomCtrl as ctrl">

    <input type="text" ng-model="ctrl.szukanyPokoj">
    <input type="button" ng-click="ctrl.pobierzDane()" value="Buton">
    <br>
    {{ctrl.zmienna}}
    <br>
    {{ctrl.szukanyPokoj}}

    {{$rootScope.rooms}}
</div>
