<div ng-controller="ViewConnectedUsers as ctrl">
    <div class="left-panel">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Users</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in ctrl.connectedUsers" class="inside-panel">
                <td>
                    {{el.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>